* {
    box-sizing: border-box;
}

body {
    background: url("colorful2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
}

#player {
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 1px 0 #eeeeee, 0 1px #cccccc, 2px 1px #eeeeee, 1px 2px #cccccc, 3px 2px #eeeeee, 2px 3px #cccccc, 4px 3px #eeeeee, 3px 4px #cccccc, 5px 4px #eeeeee, 4px 5px #cccccc, 6px 5px #eeeeee, 5px 6px #cccccc, 6px 6px #eeeeee;
}

.board {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.column:hover {
    cursor: pointer;
}

.column.one .slot.row5 {
    border-bottom-left-radius: 10px;
}

.column.one .slot.row0 {
    border-top-left-radius: 10px;
}

.column.seven .slot.row5 {
    border-bottom-right-radius: 10px;
}

.column.seven .slot.row0 {
    border-top-right-radius: 10px;
}

.slot {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    padding: 10px;
}

.slot div {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
    box-shadow: -7px 0px lightblue;
}

.chip1 {
    background-image: url("mrbean.jpg");
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left: 8px;
}

.chip2 {
    background-image: url("grumpycat1.jpg");
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left: 8px;
}

.slot.Player1 div {
    background-color: deeppink;
    background-image: url("mrbean.jpg");
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

.slot.Player2 div {
    background-color: springgreen;
    background-image: url("grumpycat1.jpg");
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* vicmessage col */

.vicmessage {
    background: linear-gradient(to bottom right, #00ffff 0%, #ff33cc 100%);
    position: fixed;
    left: 100%;
    top: 20%;
    width: 900px;
    height: 100px;
    opacity: 40%;
    border: 1px solid #888;
    border-radius: 10px;
    white-space: nowrap;
    z-index: 4;
    color: #660066;
    text-shadow: 5px 5px 0 #99ff33;
    overflow: visible;
    animation-duration: 0.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        transform: translateY(0);
        color: #660066;
    }
    to {
        transform: translateY($offset);
        color: #ff3300;
    }
}

.vicmessage:hover {
    cursor: pointer;
}

#one {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    font-variant: "Reenie Beanie", cursive;
    font-weight: bold;
}

#lok {
    right: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 500px;
    z-index: 4;
}

#lok:hover {
    cursor: pointer;
}

img {
    opacity: 0.8;
}

.lok {
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

p.anim {
    white-space: nowrap;
    padding: 5px;
    align-self: flex-start;
    font: 50px bold;
    color: #0000ff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #00ffff, 0 0 70px #3333ff, 0 0 80px #00ccff, 0 0 100px #00ccff, 0 0 150px #00ccff;
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

/* vicmessage diagonal */

.box {
    position: fixed;
    display: none;
    width: 600px;
    height: 160px;
    top: 50%;
    overflow: visible;
    z-index: 4;
}

.box:hover {
    cursor: pointer;
}

.text {
    text-align: center;
    margin-top: 5px;
    font-size: 40px;
    font-family: 700px;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes flip {
    0% {
        transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
        animation-timing-function: ease-in;
    }
}

.animated.flip {
    backface-visibility: visible;
    animation-name: flip;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    cursor: pointer;
}

.overlaygalaxy {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 3;
    cursor: pointer;
}

.gameOverTxt {
    background: linear-gradient(to bottom right, #00ffff 0%, #ff33cc 100%);
    position: fixed;
    left: 100%;
    top: 20%;
    width: 900px;
    height: 100px;
    opacity: 40%;
    border: 1px solid #888;
    border-radius: 10px;
    white-space: nowrap;
    z-index: 4;
    overflow: visible;
    animation-duration: 0.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slot.highlight div {
    -webkit-animation: mymove 0.5s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mymove 0.5s infinite;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
    50% {
        box-shadow: 10px -20px 40px 20px limegreen;
    }
}

@keyframes mymove {
    50% {
        box-shadow: 10px -20px 40px 20px limegreen;
    }
}